
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.wrapper h1 {
    margin-bottom: 20px;
}

.wrapper .tabs {
    width: 60%;
}

.wrapper .divider-item {
    margin-bottom: 40px;
}

.wrapper .space {
    display: flex;
    gap: 14px;
}